<section ng-controller="ClientsController" ng-init="find()">
  <div class="page-header">
    <h1>Clients</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="client in clients" ui-sref="clients.view({id: client._id})" class="list-group-item">
      <div>
        <label for="redirectURI">Redirect URI</label>
        <span ng-bind="client.redirectURI" id="redirectURI">
      </div>
      <div>
        <label for="clientID">Client ID</label>
        <span ng-bind="client.clientID" id="clientID">
      </div>
      <div>
        <label for="clientSecret">Client Secret</label>
        <span ng-bind="client.clientSecret" id="clientSecret">
      </div>
      <small>
        <em class="text-muted">
          Created on
          <span ng-bind="client.created | date:'mediumDate'"></span>
        </em>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="clients.$resolved && !clients.length">
    No clients yet, why don't you <a ui-sref="clients.create">create one</a>?
  </div>
</section>
