<section ng-controller="ClientsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="client.clientName"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == client.user._id">
    <a class="btn btn-primary" ui-sref="clients.edit({id: client._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div>
    <label for="redirectURI">Redirect URI</label>
    <span ng-bind="client.redirectURI" id="redirectURI">
  </div>
  <div>
    <label for="clientID">Client ID</label>
    <span ng-bind="client.clientID" id="clientID">
  </div>
  <div>
    <label for="clientSecret">Client Secret</label>
    <span ng-bind="client.clientSecret" id="clientSecret">
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="client.created | date:'mediumDate'"></span>
    </em>
  </small>
</section>
